.card-pergunta{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #e7e7e7;
    padding: 16px;
}

.card-box{
    width: 100%;
    padding: 16px 0px 32px 0px;
    border-bottom: 1px solid #E7E7E7;
}

.titulo-textarea{
    columns: #181818;
    font-weight: 700;
}

.field-resposta{
    display: flex;
    margin-right: 16px;
    height: 100%;
    justify-content: center;
    font-weight: 700;
}

.contador-area{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.contador{
    padding: 0px 16px;
}

.respostas-area{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 16px;
}
.resposta-input{
    width: 70%;
    border: none;
}

.w-100{
    width: 100%;
}

.button-limiter{
    width: 37px;
}

.resposta-box{
    width: 100%;
    display: flex;
    margin-bottom: 8px;
}

.contador-box{
    width: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pergunta-box{
    margin-bottom: 32px;
}