.card-pergunta{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #e7e7e7;
    padding: 16px;
}

.card-box{
    width: 100%;
    padding: 16px 0px 32px 0px;
    border-bottom: 1px solid #E7E7E7;
}

.resposta-input{
    width: 70%;
    border: none;
}

.w-100{
    width: 100%;
}

.button-limiter{
    width: 37px;
}

.resposta-box{
    width: 100%;
    display: flex;
}

.contador-box{
    width: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}