@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.navbar-menu-dashboard{
    background-color: #488FBD;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.selecionado{
    padding: 4px;
    min-width: 290px;
    max-width: 220px;
    cursor: pointer;
    border: 6px solid #488FBD;
}

.outside{
    padding: 4px;
    min-width: 290px;
    max-width: 220px;
    cursor: pointer;
    border: 6px solid #D9D9D9;
}

.avatar{
    width: 35px;
    height: 35px;
    background-color: #FFFFFF;
    border-radius: 100%;
    margin-right: 15px;
}

.gray-background{
    width: 100vw;
    max-height: 100vh;
    background-color: #D9D9D9;
    font-family: 'Montserrat' !important;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    overflow-y: auto;
}

.container{
    width: 100%;
}

.card-content{
    padding: 0px 32px 32px 32px;
    margin-top: 32px;
    background-color: #FFFFFF;
    border-radius: 15px 15px;
}

.title{
    font-size: 32px;
    padding: 32px 0px 32px 0px;
}

.scroll-card-box{
    width: 100%;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    overflow-x: auto;
    padding: 16px;
}

.card-responses-charts-area{
    margin-top: 32px;
}

.card-responses-charts-box{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#488FBD, #2C546F);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    overflow-x: auto;
    padding: 16px;
    border-radius: 10px;
}

.responses-area{
    width: 50%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-right: 2px solid #FFFFFF;
}

.responses-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.charts-box{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-responses-charts-box .title{
    color: #FFFFFF;
}

.seletor-perguntas-box{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.square{
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contador-pergunta{
    padding: 16px;
}