@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html{
    font-family: 'Montserrat' !important;
}
.flex-centralization{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 80%;
    /*background-color: aquamarine;*/
}

.navbar{
    width: 100%;
    height: 50px;
    position: absolute;
}

.nav-content{
    display: flex;
    justify-content: space-between;
}

.nav-final-itens{
    width: 200px;
    display: flex;
    justify-content: space-between;
}.navbar-menu {
    background-color: #488FBD;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button-login{
    width: fit-content;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    padding: 3px 8px;
    margin-left: 4px;
    background-color: #181818;
    font-family: 'Montserrat';  
}

.button-cadastro{
    width: fit-content;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    padding: 3px 8px;
    background-color: #488FBD;
    font-family: 'Montserrat';  
}

.principal{
    background-color: #FFFFFF;
}

.secundaria{
    background-color: #181818;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 400;
    top: 50px;
}

.banner{
    width: 100%;
    height: 85vh;  
    background-image: url("../images/home/friends-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-content{
    color: #FFFFFF;
}

.banner-content h1{
    font-size: 48px;
    font-weight: 700;
    margin: 5px;
}

.gradient-text{
    width: fit-content;
    padding: 5px 5px;
    background-color: #181818;
}

.gradient-text h2{
    font-size: 48px;
    font-weight: 700;
    background-image: linear-gradient(to right, #01FFC3, #6762BC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.banner-content h3{
    font-size: 32px;
    font-weight: 400;
    margin: 5px;
}

.banner-options{
    display: flex;
    flex-direction: column;
    height: 160px;
    justify-content: space-around;
    padding-top: 32px;
}

.button{
    width: 200px;
    font-size: 24px;
    padding: 8px;
    border: none;
    border-radius: 5%;
    font-family: 'Montserrat';
}

.normal{
    color: #FFFFFF;
    background-color: #464375;
    transition-duration: 0.8s;
}

.normal:hover{
    background-color: #6762BC;
}

.fishing{
    color: #FFFFFF;
    background-color: #00C093;
    font-weight: 700;
    transition-duration: 0.8s;
}

.fishing:hover{
    color: #FFFFFF;
    background-color: #01FFC3;
}

.card-banner{
    position: absolute;
    width: 480px;
    height: 660px;
    right: 0px;
    top: 120px;
    background: rgba(72, 143, 189, 0.72);
}

.card-baloons{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.baloon{
    width: 400px;
    margin-top: 40px;
}

.card-message{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.card-message p{
    color: #FFFFFF;
    font-size: 32px;
}

.partners-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
}

.partners-title h2{
    font-size: 32px;
    color: #181818;
}

.box-partners{
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 80px 0px;
}

.partner-logo{
    width: 160px;
    height: 160px;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: 700;
}

.partner-logo img{
    width: 200px;
}

.services{
    background-image: linear-gradient(#01FFC3, #6762BC);
    color: #FFFFFF;
}

.services-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 72px 0px;
}

.services-title h2{
    font-size: 56px;
    font-weight: 700;
}

.box-service{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.service-icon{
    height: 150px;
}

.box-service-title{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 0px 16px 0px;
    font-size: 24px;
    font-weight: 700;
}

.service-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 0px 0px 16px;
    height: 150px;
}

.service-list{
    font-size: 16px;
    list-style-type: disc;
    padding-left: 16px;
}

.service-list li{
    padding-top: 8px;
}

.cta-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 64px 0px;
}

.button-area{
    display: flex;
    justify-content: flex-end;
}

.button-cta{
    font-size: 24px;
    padding: 8px;
    border: none;
    border-radius: 5%;
    font-family: 'Montserrat';
    background-color:#00C093;
    color: #ffffff;
    font-weight: 700;
    transition-duration: 0.8s;
}

.button-cta:hover{
    background-color: #01FFC3;
    color: #181818;
}

.footer{
    background-color: #181818;
    flex-direction: column;
    color: #FFFFFF;
    padding-bottom: 100px;
}

.footer-content{
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 100px 0px 50px 0px;
    border-bottom: solid #FFFFFF 1px;
    align-items: center;
}

.side-content{
    width: 35%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.footer-title{
    font-size: 24px;
}

.developers{
    display: flex;
    margin: 50px 0px;
}

.circle{
    width: 45px;
    height: 45px;
    background-color: #FFFFFF;
    border-radius: 100%;
    margin: 10px;
}

