@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.modal {
    font-family: 'Montserrat' !important;
    position: fixed;
    left:   0;
    top:    0;
    right:  0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    width:600px;
    background-color: #fff;
    border-radius:10px;
}

.modal-header{
    font-weight: 700;
    padding: 16px;
    display: flex;
    justify-content: center;
}
.pesquisa-title{
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
}

.pesquisa-title span{
    font-weight: 700;
}


.content-respondentes{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #488FBD;
}
.total-respondentes{
    color: #FFF;
    padding: 10px;
}

.modal-title {
    margin: 0;
    font-weight: bold;
    font-size: 30px;
}

.modal-body {
    display: flex;
    justify-content: center;
    padding: 80px 10px 80px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.modal-footer {
    background-color: #181818;
    padding: 10px;
    height:100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0px 0px 10px 10px;
}

.modal-footer button {
    /* padding: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 160px;
    font-weight: bold;
}

.content-body{
    max-height: 500px;
    overflow-y: auto;
}

.label-respostas-area{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}